@using ProgrammersBlog.Entities.Concrete
@using ProgrammersBlog.Shared.Utilities.Results.ComplexTypes
@model ProgrammersBlog.Entities.Dtos.Category.CategoryListDto
@{
    ViewBag.Title = "Admin - Programmers Blog";
}

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 my-4">
        <div class="card-header">
            <i class="fas fa-th-list mr-1"></i>
            Kategoriler
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-success" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
              </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Adı</th>
                        <th>Açıklaması</th>
                        <th>Aktif mi?</th>
                        <th>Silinmiş mi?</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan Kullanıcı</th>
                        <th>İşlemler</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Category category in Model.Categories)
                    {
                        <tr name="@category.Id">
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>@category.Description</td>
                            <td>
                                @{
                                    if (category.IsActive)
                                    {
                                        <span class="badge badge-success"> Aktif </span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger"> Pasif </span>
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (category.IsDeleted)
                                    {
                                        <span class="badge badge-danger"> Evet </span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-success"> Hayır </span>
                                    }
                                }
                            </td>
                            <td>@category.CreatedDate.ToString("D")</td>
                            <td>@category.CreatedByName</td>
                            <td>
                                <button class="btn btn-sm btn-primary btn-edit" data-id="@category.Id"><span class="fas fa-edit"></span> Düzenle</button>
                                <button class="btn btn-sm btn-danger btn-delete" data-id="@category.Id"><span class="fas fa-minus-circle"></span> Sil</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
} else if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="my-4 alert alert-danger">
        <p>@Model.Message</p>
        Dashboard paneline dönmek için <a asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız</a>
    </div>
}

@section Scripts
{
<script src="~/js/admin/category/categoryIndex.js" type="application/ecmascript"></script>
}